.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url('/hero-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .hero {
    padding: 100px 0 60px;
    flex-direction: column;
    &Title {
      max-width: 100%;
    }
    &SliderContainer {
      display: none;
      width: 100%;
      max-height: 360px;
    }
  }
}
